@import './reset.scss';
@import './_variables.scss';
@import './components/header.scss';
@import './components/footer.scss';
@import './components/login.scss';
@import './components/home.scss';
@import './components/upload.scss';
@import './components/search.scss';
@import './components/watch.scss';
//
@import './components/button';
@import './components/video';

* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: $bg__black_soft;
  color: $text__white;
  margin-top: 8vh;

  #content {
    min-height: 92vh;
  }
}

::-webkit-scrollbar {
  // display: none; /* Chrome, Safari, Opera*/
  background-color: $bg__black_soft;
}

::-webkit-scrollbar-thumb {
  background-color: $bg__black_soft;
  border-radius: 0.5rem;
}
::-webkit-scrollbar-track {
  background-color: $bg__black;
}

a {
  color: $text__white;
  text-decoration: none;
}
