doctype html
html(lang="en")
    include partials/head.pug

    body
        a(href="/") Home /
        a(href="/videos/upload") Upload /
        a(href="/search") Search /

        if loggedIn
            a(href="/profile") #{locals.user.name}'s Profile /
            a(href="/logout") Log Out
        else
            a(href="/join") Join /
            a(href="/login") Login
        block content

    include partials/footer.pug