doctype html
html(lang="en")
    include partials/head.pug

    body
        a(href="/") Home /
        a(href="/videos/upload") Upload /
        a(href="/search") Search /
        a(href="/join") Join /
        a(href="/login") Login
        block content

    include partials/footer.pug