extends layout.pug
 
block content 
    h4 Change Title of Video!
    //- from에 action='url'을 넣으면 해당 url로 POST 할 수 있다.
    form(method="POST") 
        input(name="title", placeholder="Video Title", value=video.title, required)
        input(value="Save", type="submit")
