extends base.pug
include mixins/video

block content
    section.home
        each video in videos
            +video(video)

        //-TODO 비디오 디테일에서 수정 !
        //- a(href=`/videos/${video.id}/edit`) Edit

        //- else
        //-     h1 Sorry noting found

    script(src="/assets/js/home.js")

