extends base.pug
include mixins/video

block content
    section.home
        each video in videos
            +video(video)
            //- div
            //-     a(href=`/videos/${video.id}`) Watch

        else
            h1 Sorry noting found
            div a
            div a
            div a
            div a
            div a