doctype html
html(lang="ko")
    head
        include partials/head.pug
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")

    body
    include partials/header.pug
        block content
    include partials/footer.pug