extends base

block content
    section.form__login
        if errorMessage
            span=errorMessage

        form(method="POST")
            input(placeholder="Username", name="username", type="text", required)
            input(placeholder="Password", name="password", type="password", required)
            input.button(type="submit", value="Login")


            br
            a(href="/users/github/start") Login with github &rarr;
        hr
        div
            span Don't you have an account?
            a(href="/join")  Join now &rarr;

