extends templates/layout

block content
    form(method="post")
        input(name="userName", type="text", placeholder="User Name")
        input(name="password", type="password", placeholder="User Name")
        input(type="submit", value="Submit")