extends layouts/layout
include mixins/movieMixin

block content
    a(href="/movies/add") Add Movie

    h1=pageTitle
    form(method="POST")
        input(name="year", type="text", placeholder="Year")
        input(name="rating", type="text", placeholder="Rating")
        input(value="save", type="submit")

    each movie in movies
        +movieMixin(movie)



