extends base
include mixins/video

block content
    form.search__form(method="GET")
        input(name="keyword", type="text", placeholder="Search by title", required)
        input(type="submit", value="Search")

    section.home
        each video in videos
            +video(video)

        else
            h1 Noting found.