extends base

block content
    section.upload__form
        div
            video#preview
            button#actionBtn.button Start Recording

        if errorMessage
            span=errorMessage

        form(method="POST", enctype="multipart/form-data")
            label.button(for="video") Video File
            input.button(type="file", accept="video/*", required, id="video", name="video")
            label.button(for="thumb") Thumbnail File
            input.button(type="file", accept="image/*", required, id="thumb", name="thumb")
            input(name="title", type="text", placeholder="Title", minlength=5, required)
            input(name="description", type="text", placeholder="Description", maxlength=100, required)
            input(name="hashtags", type="text", placeholder="Hashtags" required)
            input.button(type="submit", value="Upload")

block scripts
    script(src="/assets/js/recorder.js")