header
  nav
    a(href="/") Mahns Movies
    ul
      li
        a(href="/") Home
      li
        a(href="/upload") Upload
      li
        a(href="/user/join") Join
      li
        a(href="/user/login") Login